:root {
  /* declare a variable with `--` syntax */
  /*  teal buttons, red pageheader
  --buttons: #068DA9;
  --buttonBorder: 1px solid #068DA9; 
  --bgColor: #7E1717;
  */
  /* red buttons, teal pageheader
  --bgColor: #068DA9;
  --buttons: #7E1717; 
  --buttonBorder: 1px solid #7E1717;
  */
  /* orange buttons, teal pageheader
  --bgColor: #068DA9;
  --buttons: #E55807; 
  --buttonBorder: 1px solid #E55807;
  */
  
  /* teal buttons, orange pageheader
  --buttons: #068DA9;
  --buttonBorder: 1px solid #068DA9; 
  --bgColor: #E55807;
  */
  /* --bgColor: #5F939A;
  --buttons: #A0937D;
  --brightAccent: #E55807;
  --lightAccent: #F2EDD7;
  --unavailable: #F2EDD7;
  --darkAccent: #3A6351; */
  --bgColor: #7a7062;
  --buttons: #b57b61;
  --brightAccent: #E55807;
  --lightAccent: #F2EDD7;
  --pageBack: #F2EDD7;
  --pageBorder: #d16146;
  /*--pageBorder: #7d2620; */
  --unavailable: #d2cfb5;
  --darkAccent: #3a1c18;
  /* --lightAccent: #ECF8F9; */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#pageHeader {
  background-color: var(--bgColor);
  color: var(--lightAccent);
}

#emptyDateBox {
  height: 100%;
  background-color: var(--unavailable);
}

#calendarButton {
  height: 100%;
  width: 100%;
  padding: 15% 10%;
}

#editButton {
  padding: 0px 1px;
  font-size: 12px;
  background-color: var(--buttons);
  border: 1px solid var(--buttons);
  display: flex;
  align-self: end;
}

#appForm .form-control {
  margin-bottom: 2%;
}

#appForm .form-label {
  margin-bottom: 1%;
}

#appForm .form-check {
  margin: 2%;
}

#settingsButton {
  display: flex;
  color: gray;
  background-color: var(--buttons);
  border: 1px solid var(--buttons);
  text-shadow: 1px 1px #000000;
  align-self: center;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

#fullAppContainer Button {
  background-color: var(--buttons);
  border: 1px solid var(--buttons);
}

#fullAppContainer {
  background-image: url('https://wallpapercave.com/wp/wp4453589.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;

}

#appButton {
  background-color: var(--buttons);
  border: 1px solid var(--buttons);
}
/* 
Form  Button {
  background-color: var(--buttons);
} */

#headText {
  color: var(--darkAccent);
}

#calendarPageContainer {
  margin: 2% 5%;
  margin-bottom: 0;
  border-radius: 10px;
  padding: 2%;
  background-color: var(--pageBack);
  border: 3px solid var(--pageBorder);

}

#homePageContainer {
  margin: 2% 5%;
  margin-bottom: 0;
  border-radius: 10px;
  padding: 1.5%;
  background-color: var(--pageBack);
  border: 3px solid var(--pageBorder); 
  /* box-shadow: horizontal vertical blur spread-radius color inset */
  /*box-shadow: 3px 3px 25px -10px var(--pageBorder) inset, -3px -3px 25px -10px var(--pageBorder) inset;*/
}

#loginPageContainer {
  border-radius: 10px;
  padding: 8%;
  height: 70vh;
  margin: 15%;
  margin-top: 5%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  background-color: var(--pageBack);
  border: 3px solid var(--pageBorder);
}

#pageTitleText {
  color: var(--darkAccent);
  margin: 8px;
  font-size: 25px;
}

#backButton {
  display: flex;
  color: var(--lightAccent);
  font-size: 23px;
  background-color: var(--buttons);
  border: 1px solid var(--buttons);
  text-shadow: 1px 1px #000000;
  border-radius: 53%;
  padding: 4px 12px;
  margin: 2px 0px;
  align-self: center;
}

#newChoreButton {
  display: flex;
  align-self: center;
  justify-content: center;
  color: var(--lightAccent);
}

#monthContainer {
  border: 1px solid var(--darkAccent);
  border-radius: 10px;
  display: flex;
}

#weekDayTitles {
  border: 1px solid red;
  column-count: 7;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#dayTitle {
  width: 100%;
}

#datesContainer {
  width: 100%;
  border: 1px solid pink;
  column-count: 7;
  display: flex;
  flex-wrap: wrap;
  /* <div key={index} style={{'width':'14%', 'height': '150px', 'border': '1px solid black'}}> */
}

#dayBox { 
  height: 150px;
  /* border: 1px solid green; */
  width: 14.285714285714285714%;
}